@model IEnumerable<WORKFLOW_APP.Models.FIRMS_ABSENCES_PERSONS>

@{
    ViewBag.Title = "تمام الضباط";
}
@{
    Layout = "~/Views/Shared/_MASTER_PAGE.cshtml";
}
<script src="~/Scripts/APP_SCRIPTS/web_service.js"></script>
<script src="~/App_Start/global.js"></script>
@*<script src="~/Scripts/APP_SCRIPTS/GET_OFFICERS.js"></script>*@
<script src="~/Scripts/APP_SCRIPTS/OFF_TAM.js"></script>
<link href="~/Scripts/APP_CSS/TAMAM.css" rel="stylesheet" />


<div class="animated  zoomInDown">
    <div class="row" >

        <div class="col-lg-3">
<div id="FIRMS_CODE">
  
</div>
    </div>
            <div class="col-lg-2">
      <div id="DT_DATE" style="text-align: center;">

      </div>
    </div>
        <div class="col-lg-2">
            
 <input type="text" class="searchDDl" style="font-size: 100%; text-align: center;" id="TXT_FIN_YEAR" placeholder="العام التدريبي" />

           
            </div>
        <div class="col-lg-2">
                       
<input type="text" class="searchDDl" style="font-size: 100%; text-align: center" id="TXT_PERIOD" placeholder="الفترة التدريبية" />

                       
    </div>
     <div class="col-lg-3">
                    

                       
    </div>
    </div>
    <div class="space-6">

    </div>
@*    <div class="row">
    

        <div class="col-lg-7">
            <div id="st_TAMAMM_gridDiv">

</div>
        </div>

        <div class="col-lg-4">
                                                    <div class="button" id="btn_edit" onclick="" title="تعديل التوقيتات">
                                            <p class="btnText"> تعديل التوقيتات</p>
                                            <div class="btnTwo">
                                                <p class="btnText2">
                                                    <img src="../Images/EDIT.png" style="width: 30px" />
                                                </p>
                                            </div>
                                        </div>
        </div>
            <div class="col-lg-1">

        </div>

</div>*@

     <div class="row">
        <div class="col-xs-12">
                  <div  display: none" id='jqxTabs'>
                          <ul>

                        <li style="font-size: x-large"> بيانات التمام</li>
                        <li style="font-size: x-large" id="btn_edit">ادخال  التوقيتات</li>
                        <li style="font-size: x-large" id="REP" >التقرير اليومي </li>
                            

                    </ul>
                    <div>
                        <table style="width: 100%;height:100%;">
                            <tr>
                                      <td style="width: 99%;height:100%;">
                                    <table style="width: 100%;height:100%;">
                                        <tr>
                                            <td style="height:100%;">
                                                <div id="st_TAMAMM_gridDiv"></div>
                                            </td>
                                        </tr>
                                    </table>

                                </td>


                            </tr>
                        </table>
                    </div>
                    <div>
                         <table style="width: 100%;height:100%;">
                            <tr>
                                      <td style="width: 99%;height:100%;">
                                    <table style="width: 100%;height:100%;">
                                        <tr>
                                            <td style="height:100%;">
                                                <div id="st_edit_tam"></div>
                                            </td>
                                        </tr>
                                    </table>

                                </td>


                            </tr>
                        </table>
                    </div>
              

                      <div>

      
      	<div class="row">

				</div>
        
    </div>
                      </div>
                      </div>
        </div>
    </div>
           <div id="overlayDiv"></div>
        <div id="popUpDiv" class="slideOutDown">
            <div id="closeBtn" onclick="$('#overlayDiv').hide(1000); $('#popUpDiv').hide(1000);$('#show_rep').hide(); " ><img id="clos"
            src="../WORKFLOW_APP/Images/cancel.jpg"  style="width: 2vw;height: 3vh;margin-top: -20px;"/></div>
         
            <div id="popUpHeaderDiv"></div>
            					<div class="panel">
							<iframe id="show_rep" class="content" style="display: none; width: 65vw; height: 80vh;" ></iframe>
					</div>
        </div>