@model WORKFLOW_APP.Models.OFF_ABS_STEPS


@{
    ViewBag.Title = "Create";
   
}


<script src="~/App_Start/global.js"></script>
<script src="~/Scripts/APP_SCRIPTS/GET_OFFICERS.js"></script>


<script type="text/javascript">
    
    

   // BuildDropDwonlist('RANK_CAT_ID', 'RANK_CAT_ID', 'NAME', ApplicationName + '/GROUPS/RANK_CAT_ID_fun');
  //  bnd_off_all_grd(firm_cod, 1)


    </script>

<form id="saveForm"  method="post" >
   
<fieldset>
     

      
        <div class="row">
        <div class="col-lg-12">
            <div id="off_ROLE">

            </div>
        </div>
    </div>

   
       @* <p>
             @if (ViewBag.IsUpdate == true)
             { 

             <input type="submit" value="تعديل" name="Edit"  />
             }
             else
             {
            <input type="submit" value="إضافة" name="Create" />
             }
             &nbsp; &nbsp;
            <input type="button" id="btncancel"  onclick=" $('#dialog-edit').dialog('close');" value="إلغاء"/>
               
       
        </p>*@
            
    </fieldset>

</form>