             @font-face
       {
           font-family: msdcbi;
           src: url('msdcbi.ttf');
       }

       input, div, span, select, option
       {
           font-family: 'msdcbi' !important;
           font-size:15px;
           font-weight:bold;
       }

    #dialog-edit {

         animation-name: slideOutDown;

}
    #saveForm {
    background-color: #b0c8d5;
    border-style: solid;
    border-radius: 10px;
}

    
#PARANT_FIRMS_CODE {

    padding: 3px 4px;
    height: 30px;
    width: 75% !important;

}
