@model IEnumerable<WORKFLOW_APP.Models.FIRMS_ABSENCES_PERSONS>

@{
    
    ViewBag.Title = "طلبات إذن";
}

<script src="~/Scripts/APP_SCRIPTS/web_service.js"></script>
<script src="~/App_Start/global.js"></script>
<script src="~/Scripts/APP_SCRIPTS/Talab_Azn_Sh.js"></script>
<link href="~/Scripts/APP_CSS/Talab_Azn_Sh.css" rel="stylesheet" />

<div class="animated  zoomInDown">

    <h1> طلبات إذن</h1>
    <div class="row marTop">

       <div id="divDate" class="col-md-2 marTop">
           <label id="dateAzn"> التاريخ</label>
           <div id="TalabDate" ></div>
        </div>

         <div  class="col-md-2 marTop">
            <label id="TimeAznFrom">من سعت</label>
           <div id="TalabTimeFrom" ></div>
       </div>
 


         <div  class="col-md-2 marTop">  
            <label id="TimeAznTo">إلى سعت</label>
           <div  id="TalabTimeTo" ></div>
       </div>
      
        <div class="col-md-2 marTop" id="divAdd" >
                <i class="fa fa-plus fa-2x" id="AddOrder" title="إضافة طلب إذن"></i>
        </div>

        <div id="divbtn" class="col-md-2">
            <input type="button" onclick="openDialog('Talab_Azn_Sh/Create_Officers')" class="btn-primary btn-lg form-control" id="Sh_btn" value="مقدم  الطـلـب" title="إضافة طلب لظابط" />
        </div>

    </div>

    @*Talab Clinic Grid*@
    <div class="row marTop" id="TalabAznGrid">
        
    </div>

    <div class="row marTop" id="off_ROLE">
        
    </div>

    </div>
