<div class="row" id="person_tab" style="display: block;">
    <div class="col-md-4">
        <div class="button" id="btn_add" onclick="" title="اضافة ">
            <p class="btnText"> اضافة</p>
            <div class="btnTwo">
                <p class="btnText2">
                    <img src="../../Images/add.png" style="width: 30px" />
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="button" id="btn_edit" onclick="" title="تعديل ">
            <p class="btnText">تعديل </p>
            <div class="btnTwo">
                <p class="btnText2">
                    <img src="../../Images/EDIT.png" style="width: 30px" />
                </p>
            </div>
        </div>
    </div>

    <div class="col-md-4">

        <div class="button" id="btn_del" onclick="" title="حذف">
            <p class="btnText">حذف </p>
            <div class="btnTwo">
                <p class="btnText2">
                    <img src="../../Images/delete.png" style="width: 30px" />
                </p>
            </div>
        </div>
    </div>

    
</div>