@model IEnumerable<WORKFLOW_APP.Models.ADMIN_USERS>

@{
    ViewBag.Title = "المستخدمين";

}
<script src="~/Scripts/APP_SCRIPTS/users.js"></script>
<link href="~/Scripts/APP_CSS/Users.css" rel="stylesheet" />
<link href="~/Scripts/APP_CSS/.css" rel="stylesheet" />
<style>
    .container {
        max-width: 964px;
    }
</style>

<body>
    <div class=" animated zoomInDown row">

    <div class="col-md-3">

        <div class="form-group ">
            <div class="col-sm-9" id="firm"></div>

       

    </div>

  
    </div>

</div>


<div class="row animated zoomInDown " style="margin-top:30px;">
    <div class="col-md-10 =">
        <div id="st_getUsers_gridDiv"></div>
    </div>
</div>




     
</body> 