@model WORKFLOW_APP.Models.PERSONS_TRAVELS


@{
    ViewBag.Title = "Create";
   
}

<script src="~/App_Start/global.js"></script>
<script src="~/Scripts/APP_SCRIPTS/GET_OFFICERS.js"></script>
<script src="~/Scripts/APP_SCRIPTS/travels.js"></script>
@*<link href="~/Scripts/APP_CSS/Groups.css" rel="stylesheet" />*@
<link href="~/Scripts/APP_CSS/animate.css" rel="stylesheet" />
<script type="text/javascript">
    
    
    build_gehat_grid();
    bnd_gehat_grid();
 //   BuildDropDwonlist('RANK_CAT_ID', 'RANK_CAT_ID', 'NAME', ApplicationName + '/GROUPS/RANK_CAT_ID_fun');
  //  bnd_off_all_grd(firm_cod, 1)
    //$('#RANK_CAT_ID').on('select', function (event) {
        
    //    var item = args.item;
    //    // get item's label and value.
    //    var label = item.label;
    //    var value = item.value;
    //    bld_off_all_grd();
    //    bnd_off_all_grd(firm_cod, value)
    //   // $('#').attr('disabled', true)

    //});
    $('#gehat_grid').on('rowdoubleclick', function (event) {
        
        var data = $('#gehat_grid').jqxGrid('getrowdata', event.args.rowindex);
        mission_gehat = data.COUNTRY_NAME;
       
        $("#dialog-edit2").dialog('close');
        $('#ddl_geha').val(mission_gehat);
        $('#ddl_geha').text(data.COUNTRY_ID);
        //data = {
        //    TRAINING_PERIOD_ID: period_id, FIRM_CODE: firm_cod, FIN_YEAR: $("#TXT_FIN_YEAR").val(), MISSION_ID: mission, PERSON_CODE: data.PERSON_CODE,per:$("#user_name").val(),

        //    Command: "Create_OFF"
        //}

        //$.ajax({
        //    url: ControllerName + data.Command,
        //    type: 'POST',
        //    data: data,
        //    dataType: 'json',
        //    success: function (data) {
        //        //  st_group_gridDiv_Refresh();
        //        //bnd_step_grd(group_id);
        //        //bnd_off_grd(group_id)
                
        //        bnd_mission_member_grid(firm_cod, $("#TXT_FIN_YEAR").val(), period_id, $('#DT_DATE').val(), $("#user_name").val(), mission);
        //        if (data.status) {
        //            swal({
        //                title: "تم الاضافة",
        //                text: "تم  الاضافة بنجاح",
        //                type: "success",
        //                timer: 2200
        //            });

        //            //    $('#OFF_ABS_GROUP_NAME').val('');
        //            //  AG_SECTORS_Refresh('AG_SECTORS');
        //            //alert(data.message);
        //            $("#dialog-edit").dialog('close');
        //            // alert("saad");
        //        }
        //        else {
        //            swal({
        //                title: "خطأ",
        //                text: "  " + data.message + "",
        //                type: "error",
        //                timer: 2200
        //            });
        //            $("#dialog-edit").dialog('close');
        //        }
        //    },
        //    error: function () {
        //        swal({
        //            title: "خطأ",
        //            text: "  " + data.message + "",
        //            type: "error",
        //            timer: 2200
        //        });
        //        // $('#msg').html('<div class="failed">Error! Please try again.</div>');
        //        alert(data.message);
        //    }
        //});


     

    });






   @*      @if (ViewBag.IsUpdate == true)
    { 
             
         <text>*@
   @* $('#ORDER_ID').val(@Model.ORDER_ID);
    $('#OFF_ABS_STEPS_ID').val(@Model.OFF_ABS_STEPS_ID);
    $('#OFF_ROLE_ARCHIVE').val("@Model.OFF_ROLE_ARCHIVE");*@
    //$('#PARANT_FIRMS_CODE').val("@*@Model.PARANT_FIRMS_CODE*@");
    
    //</text>
    // }



    </script>
<form id="saveForm"  method="post" style="width:650px">
   
<fieldset>
       <legend> الجهات</legend>
    
@*    <div class="row">
                <div class="col-lg-4">
                
        <div class="editor-label" >
       
        </div>
        </div>
                <div class="col-lg-2">
                    <label>الفئة</label>
        </div>
                <div class="col-lg-4">
<div id="RANK_CAT_ID">

</div>
        </div>
                <div class="col-lg-2">
                          
        </div>
    </div>*@
      
        <div class="row">
        <div class="col-lg-12">
            <div id="gehat_grid">

            </div>
        </div>
    </div>

   
       @* <p>
             @if (ViewBag.IsUpdate == true)
             { 

             <input type="submit" value="تعديل" name="Edit"  />
             }
             else
             {
            <input type="submit" value="إضافة" name="Create" />
             }
             &nbsp; &nbsp;
            <input type="button" id="btncancel"  onclick=" $('#dialog-edit').dialog('close');" value="إلغاء"/>
               
       
        </p>*@
            
    </fieldset>

</form>