@model IEnumerable<WORKFLOW_APP.Models.FIRMS_ABSENCES_PERSONS>

@{
    ViewBag.Title = "طلبات المبادلة";
}

<link href="~/Scripts/APP_CSS/Vacation.css" rel="stylesheet" />
<link href="~/App_Start/global.css" rel="stylesheet" />
<script src="~/Scripts/APP_SCRIPTS/web_service.js"></script>
<script src="~/App_Start/global.js"></script>
<script src="~/Scripts/APP_SCRIPTS/EXCH_OFF.js"></script>
<script src="~/Scripts/APP_SCRIPTS/GET_OFFICERS.js"></script>
<style>
    
.col-lg-1 > img:hover {
    box-shadow: 0 0 15px orangered;
    height: 55px !important;
    width: 55px !important;
}

</style>
<h2></h2> 
<input type="hidden" id="ty" />
<input type="hidden" id="tp" />
<div class="animated  zoomInDown">
    <div class="row">
        <div class="col-xs-3">
            <div class="searchDDl" style="font-size: 100%; text-align: center; vertical-align: middle;" id="FIRM_DD"></div>
        </div>
        <div class="col-xs-1 col-l col-0">
            الشهر
        </div>
        <div class="col-xs-1">
            <div class="searchDDl" style="font-size: 100%; text-align: center" id="MON_DD"></div>
        </div>
        <div class="col-xs-1 col-l col-0">
            نوع الخدمة
        </div>
        <div class="col-xs-2">
            <div class="searchDDl" style="font-size: 100%; text-align: center" id="KHDMA_DD"></div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-10">
            <div id="KHDMA_CH_GRD"></div>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-2">
            <div class="searchDDl" style="background: radial-gradient(paleturquoise 60%, transparent); border-radius: 50%; color: red; direction: rtl; font-size: 30px; text-align: center; text-decoration: underline; text-shadow: 1px 1px 2px white; width: 100%; margin: 0; height: 60px"
                id="Div1">
                طرف أول :
            </div>
            <input type="hidden" id="off1_hf" />
            <input type="hidden" id="off1_data" />
            <input type="hidden" id="off2_data" value="0" />

            <input type="hidden" id="officer_hf" />
            <input type="hidden" id="focus_hf" />
            <input type="hidden" id="off_info" />
            <input type="hidden" id="ddl_khedma" />
        </div>
        <div class="col-lg-1">
            <input type="text" class="searchDDl" style="font-size: x-large; text-align: center; width: 100%" id="OFF1_RNK" placeholder="رتبة"  onclick="openDlg('../WORKFLOW_APP/KHEDEMA_CHANGE_OFF/add_off?off=1', 'الضابط', 600, 400)"/>
        </div>
        <div class="col-lg-3">
            <input type="text" class="searchDDl" style="font-size: x-large; text-align: center" id="OFF1_NM" placeholder="إســــــم" />
        </div>
        <div class="col-lg-1 col-0">
            <span>التاريخ</span>
        </div>
        <div class="col-lg-2">
            <div class="searchDDl" style="font-size: 100%; text-align: center" id="K_DT1"></div> @*id="DATE" placeholder="تاريخ الخدمة" />*@
        </div>
    </div>
    <div class="row">
        <div class="col-xs-2">

            <div class="searchDDl" style="background: radial-gradient(paleturquoise 60%, transparent); border-radius: 50%; color: red; direction: rtl; margin: 0; font-size: 30px;
                 text-align: center; text-decoration: underline; text-shadow: 1px 1px 2px white; width: 100%; height: 60px;"
                id="OFF2_LBL">
                طرف ثانى :
            </div>
            <input type="hidden" id="off2_hf" />

        </div>
        <div class="col-xs-1">
            <input type="text" class="searchDDl" style="font-size: x-large; text-align: center; width: 100%" id="OFF2_RNK" placeholder="رتبة" onclick="openDlg('../WORKFLOW_APP/KHEDEMA_CHANGE_OFF/add_off?off=2', 'البديل', 600, 400)" />
        </div>
        <div class="col-xs-3">
            <input type="text" class="searchDDl" style="font-size: x-large; text-align: center" id="OFF2_NM" placeholder="إســــــم" />
        </div>
        <div class="col-xs-1 col-0">
            <span>التاريخ</span>
        </div>
        <div class="col-xs-2">
            <div class="searchDDl" style="font-size: 100%; text-align: center" id="K_DT2">
        </div>
    </div>
        <div class="col-lg-1">
            <img style='border-color: darkturquoise;border-radius: 50%;border-style: solid;border-width: 2px;cursor: pointer;display: block;float: left;height: 50px;
            margin-top: 2px;position: relative;width: 50px;' src='../WORKFLOW_APP/images/OK.png' onclick="exc_exchng();"/>
        </div>
</div>
    <div class="row">
        <div class="col-lg-9">
        
            </div>
        </div>
