

@{
    ViewBag.Title = "الوظائف";
}

<meta charset="UTF-8">

<script src="~/Scripts/APP_SCRIPTS/jobs.js"></script>
<link href="~/Scripts/APP_CSS/holidays.css" rel="stylesheet" />
<script src="~/Scripts/APP_SCRIPTS/web_service.js"></script>



<div class=" animated zoomInDown row">

    <div class="col-md-3">

        <div class="form-group ">
            <div class="col-sm-9" id="firm"></div>

       

    </div>

  
    </div>

</div>

  
<div class="row  animated zoomInDown " style="margin-top: 5px">
    <div class="col-md-12">
        <div id="st_jobs_gridDiv"></div>
    </div>
</div>

<div class=" animated zoomInDown row" style="margin-top:5px;">
    <div class="col-md-3">
        <div class="form-group ">
          
            <div class="col-sm-6" id="bldStateGrid"></div>
    </div>
    </div>
</div>



<div class="row  animated zoomInDown " style="margin-top: 5px">
    <div class="col-md-12">
        <div id="st_person_gridDiv"></div>
    </div>
</div>