<script src="~/App_Start/global.js"></script>
<script src="~/Scripts/APP_SCRIPTS/web_service.js"></script>
<script src="~/Scripts/APP_SCRIPTS/Home_app.js"></script>
@{
    ViewBag.Title = "الصفحة الرئيسيــة";
    Layout = "~/Views/Shared/_MASTER_PAGE.cshtml";
}

<style>
    
img {
    width: 50vw;
    height: 60vh;
    margin-top: 10vh;
    margin-right: 30vh;
}
</style>
@*<h2></h2>*@
<body style="background: url('~/Images/login2.png') no-repeat;background-size:cover;/*background-position-y: -150px;*//*! background-position-x: -25px; */">

    <img src="~/Scripts/images/manzoma.png" />
    @*<img src="~/Images/manzoma%20bg%20(2)%20(1).png" />*@
    </body>